In [35]:
# api 요청
import requests
import json
# 데이터 자료형 및 분석도구
import pandas as pd
import numpy as np
# 시간
import time
# 진행 사항 확인
from tqdm import tqdm

# 시각화 패키지
import matplotlib as mlp
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from matplotlib import patheffects
import seaborn as sns
import plotly.express as px
import matplotlib.ticker as mtick
%matplotlib inline
import koreanize_matplotlib

In [36]:
# api 설정
key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI3YmQ0OWMzMC1jNmJjLTAxM2ItZWFjNC0yNjgwMDVjNzgxYzMiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjgyNTUzNjQ1LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6IjM4ZWI1ZjVhLTM5NmQtNDI5ZC05NWVhLTY2MTY1OGJkYWEzZSJ9.u0-CqkNYpQZLMSMs4xs_y-5_XlKQzYurvzgNW8wD3_Q'

header = {"Authorization": key,
          "Accept": "application/vnd.api+json"}

In [37]:
# 경기정보를 불러올 토너먼트 설정
tnm = 'as-pgs1gs'
url_league = f"https://api.pubg.com/tournaments/{tnm}"
r_league = requests.get(url_league, headers=header)
league_json = r_league.json()

# 데이터프레임으로 만들기
df_mat = pd.DataFrame(league_json['included'])
mat_crt = pd.DataFrame(list(df_mat['attributes']))
df_mat = pd.concat([df_mat[['type', 'id']], mat_crt], axis=1).sort_values(by='createdAt')
df_mat = df_mat.reset_index(drop=True)

# 해당경기의 로그 url 찾기
url_list = []

for i in range(18):
    match_id = df_mat['id'][i]
    url_tele = f'https://api.pubg.com/shards/tournaments/matches/{match_id}'
    rs_tele = requests.get(url_tele, headers=header)
    tele_json = rs_tele.json()
    # url 찾아내자.
    url_i = 0
    for i, asset in enumerate(tele_json['included']):
        if asset.get('type') == 'asset':
            url_i = url_i +i
    telemetry_url = tele_json['included'][url_i]['attributes']['URL']
    url_list.append(telemetry_url)

# 로그를 데이터프레임에 추가해주기
df_mat['telemetry_url'] = pd.DataFrame(url_list)
df_mat

,type,id,createdAt,telemetry_url
0,match,5f368132-476c-44c3-8b4a-2889696173e9,2023-04-27T10:03:24Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
1,match,c6227264-3428-41cb-b537-60885924280a,2023-04-27T10:44:39Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
2,match,78019ce1-1a10-48d2-a9cb-58fabbf385dd,2023-04-27T11:32:04Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
3,match,fd0e73bf-4513-4378-adc2-112e4129d8b2,2023-04-27T12:13:39Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
4,match,86ff4c5a-3a44-4e7f-afbe-edf95f206583,2023-04-27T13:01:54Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
5,match,631dbfe6-7b07-4ccc-b9a2-295c3a1d239d,2023-04-27T13:42:30Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
6,match,20550037-5af6-48c4-bb11-1ca47cdd161d,2023-04-28T10:00:27Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
7,match,be41edc0-44e5-448d-bbf6-fd4269bf4868,2023-04-28T10:42:14Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
8,match,2ad232ba-c4b9-4411-afff-b1cd252800e2,2023-04-28T11:42:21Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
9,match,d6c8cc18-6ede-40fc-b226-32c345484d0f,2023-04-28T12:21:27Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
10,match,708c49d3-a326-45c4-82c0-03942de54fea,2023-04-28T13:12:45Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
11,match,8ddafb5c-e2c2-497a-a57f-baa7ff68e088,2023-04-28T13:53:52Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
12,match,f868e8d8-5a5c-4c4c-8fc9-2dc29cae7c31,2023-04-29T09:57:11Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
13,match,703cca08-95d3-4556-aca6-a4ad32101532,2023-04-29T10:36:34Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
14,match,fe519e0f-fe73-45ae-8640-6ebc152507c4,2023-04-29T11:25:33Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
15,match,d73d2931-ad89-45f0-8eb6-66c3ed51e689,2023-04-29T12:03:40Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
16,match,b22ac458-92b0-46cc-884d-b6997c70efee,2023-04-29T12:55:31Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...
17,match,eab25963-4deb-42d9-9523-0f6460693be1,2023-04-29T13:39:03Z,https://telemetry-cdn.pubg.com/bluehole-pubg/t...

In [38]:
result = pd.read_csv("total_hit_rate.csv")

In [39]:
p_result = result.rename(columns = {"attacker_name" : "character_name"})
p_result = p_result.iloc[:,1:2] 
p_result

     character_name
0       17_Lilghost
1       17_Lilghost
2       17_Lilghost
3       17_Lilghost
4       17_Lilghost
...             ...
1147    Tian_PaoPao
1148    Tian_PaoPao
1149    Tian_PaoPao
1150    Tian_PaoPao
1151    Tian_PaoPao

[1152 rows x 1 columns]

In [41]:
# 회복/부스팅 아이템 리스트 생성
get_items = ['Item_Heal_MedKit', 'Item_Heal_FirstAid_C', 'Item_Heal_Bandage_C', 'Item_Boost_AdrenalineSyringe_C', 'Item_Boost_PainKiller_C', 'Item_Boost_EnergyDrink_C', 'Item_Weapon_Molotov_C', 'Item_Weapon_SmokeBomb_C', 'Item_Weapon_FlashBang_C', 'Item_Weapon_Grenade_C']

# 데이터를 담을 데이터프레임 생성
get_data = pd.DataFrame()

# 전체 매치에 대해 반복
for i in range(18):
    # 텔레메트리 JSON 데이터 가져오기
    telemetry_url = df_mat['telemetry_url'][i]
    rs_tele_event = requests.get(telemetry_url, headers=header)
    telemetry_json = rs_tele_event.json()

    # JSON 데이터를 데이터프레임으로 변환 후, LogMatchStart와 LogMatchEnd 사이의 데이터 추출
    df_log = pd.DataFrame(telemetry_json)
    df_log = df_log.loc[df_log[df_log['_T'] == 'LogMatchStart'].index[0]:df_log[df_log['_T'] == 'LogMatchEnd'].index[0]]

    # LogItemPickup 이벤트 추출 후, A 팀의 아이템 획득자만 필터링
    item_log = df_log[(df_log['_T'] == 'LogItemPickup') | (df_log['_T'] == "LogItemPickupFromLootBox")]
    df_item_log = item_log[item_log['character'].astype(str).str.contains('')].reset_index(drop=True)

    # character_name 컬럼을 만들어주기 위해 NaN으로 초기화
    df_item_log['character_name'] = np.NaN 

    # character_name 컬럼에 데이터 추가
    for j in range(len(df_item_log)):
        df_item_log.loc[j, 'character_name'] = df_item_log[df_item_log['character'].astype(str).str.contains("")]['character'][j]['name']

    # 해당 팀 각 선수들이 얻은 각 아이템 개수 구하기
    team_item_data = p_result
    for item in get_items:
        item_count = df_item_log[df_item_log['item'].astype(str).str.contains(item)].groupby('character_name').count()['item']
        item_count = pd.DataFrame(item_count).reset_index()
        item_count.rename(columns={"item": item}, inplace=True)
        team_item_data = pd.merge(team_item_data, item_count, on='character_name', how='outer')
        team_item_data['match_id'] = i + 1
    get_data = pd.concat([get_data, team_item_data], ignore_index=True)

# 결과 출력
get_data

,character_name,Item_Heal_MedKit,match_id,Item_Heal_FirstAid_C,Item_Heal_Bandage_C,Item_Boost_AdrenalineSyringe_C,Item_Boost_PainKiller_C,Item_Boost_EnergyDrink_C,Item_Weapon_Molotov_C,Item_Weapon_SmokeBomb_C,Item_Weapon_FlashBang_C,Item_Weapon_Grenade_C
0,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20731,Tian_PaoPao,NaN,18,4.0,3.0,NaN,5.0,2.0,NaN,4.0,2.0,1.0
20732,Tian_PaoPao,NaN,18,4.0,3.0,NaN,5.0,2.0,NaN,4.0,2.0,1.0
20733,Tian_PaoPao,NaN,18,4.0,3.0,NaN,5.0,2.0,NaN,4.0,2.0,1.0
20734,Tian_PaoPao,NaN,18,4.0,3.0,NaN,5.0,2.0,NaN,4.0,2.0,1.0
20735,Tian_PaoPao,NaN,18,4.0,3.0,NaN,5.0,2.0,NaN,4.0,2.0,1.0

In [42]:
get_data.to_csv('heal_boost_data.csv', index=False)

In [43]:
t_result = result.iloc[:,1:2]
t_result

     attacker_name
0      17_Lilghost
1      17_Lilghost
2      17_Lilghost
3      17_Lilghost
4      17_Lilghost
...            ...
1147   Tian_PaoPao
1148   Tian_PaoPao
1149   Tian_PaoPao
1150   Tian_PaoPao
1151   Tian_PaoPao

[1152 rows x 1 columns]

In [44]:
# Throwable 아이템 리스트
Throwable_items = ['Item_Weapon_Molotov_C', 'Item_Weapon_SmokeBomb_C', 'Item_Weapon_Grenade_C', 'Item_Weapon_FlashBang_C']

# 결과 데이터프레임 초기화
Throwable_data = pd.DataFrame()

# 18개의 경기 데이터에 대해 반복문 실행
for i in range(18):
    # telemetry JSON 데이터 가져오기
    telemetry_url = df_mat['telemetry_url'][i]
    rs_tele_event = requests.get(telemetry_url, headers=header)
    telemetry_json = rs_tele_event.json()

    # JSON 데이터를 데이터프레임으로 변환 후, LogMatchStart와 LogMatchEnd 사이의 데이터 추출
    df_log = pd.DataFrame(telemetry_json)
    df_log = df_log.loc[df_log[df_log['_T'] == 'LogMatchStart'].index[0]:df_log[df_log['_T'] == 'LogMatchEnd'].index[0]]

    # LogPlayerUseThrowable 이벤트 추출 후, A 팀의 아이템 사용자만 필터링
    item_log = df_log[df_log['_T'] == 'LogPlayerUseThrowable']
    df_item_log = item_log[item_log['attacker'].astype(str).str.contains('')].reset_index(drop=True)

    # attacker_name 컬럼을 만들어주기 위해 NaN으로 초기화
    df_item_log['attacker_name'] = np.NaN 

    # attacker_name 컬럼에 데이터 추가
    for j in range(len(df_item_log)):
        df_item_log.loc[j,'attacker_name'] = df_item_log[df_item_log['attacker'].astype(str).str.contains('')]['attacker'][j]['name']

    # 해당 팀 각 선수들이 사용한 각 throwable 아이템 개수 구하기
    team_item_data = t_result
    for item in Throwable_items:
        item_count = df_item_log[df_item_log['weapon'].astype(str).str.contains(item)].groupby('attacker_name').count()['weapon']
        item_count = pd.DataFrame(item_count).reset_index()
        item_count.rename(columns={"weapon": item}, inplace=True)
        team_item_data = pd.merge(team_item_data, item_count, on='attacker_name', how='outer')
        team_item_data['match_id'] = i + 1
    Throwable_data = pd.concat([Throwable_data, team_item_data], ignore_index=True)
    
# 결과 데이터프레임 출력
Throwable_data

,attacker_name,Item_Weapon_Molotov_C,match_id,Item_Weapon_SmokeBomb_C,Item_Weapon_Grenade_C,Item_Weapon_FlashBang_C
0,17_Lilghost,NaN,1,NaN,NaN,NaN
1,17_Lilghost,NaN,1,NaN,NaN,NaN
2,17_Lilghost,NaN,1,NaN,NaN,NaN
3,17_Lilghost,NaN,1,NaN,NaN,NaN
4,17_Lilghost,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...
20731,Tian_PaoPao,NaN,18,1.0,NaN,NaN
20732,Tian_PaoPao,NaN,18,1.0,NaN,NaN
20733,Tian_PaoPao,NaN,18,1.0,NaN,NaN
20734,Tian_PaoPao,NaN,18,1.0,NaN,NaN
20735,Tian_PaoPao,NaN,18,1.0,NaN,NaN

In [45]:
Throwable_data.to_csv('Throwable_data.csv', index=False)

In [46]:
h_result = result.iloc[:,1:2]
h_result = h_result.rename(columns = {"attacker_name" : "character_name"})
h_result

     character_name
0       17_Lilghost
1       17_Lilghost
2       17_Lilghost
3       17_Lilghost
4       17_Lilghost
...             ...
1147    Tian_PaoPao
1148    Tian_PaoPao
1149    Tian_PaoPao
1150    Tian_PaoPao
1151    Tian_PaoPao

[1152 rows x 1 columns]

In [47]:
# 사용할 아이템 리스트 정의
heal_boost_use_items = ['Item_Heal_MedKit', 'Item_Heal_FirstAid_C', 'Item_Heal_Bandage_C', 'Item_Boost_AdrenalineSyringe_C', 'Item_Boost_PainKiller_C', 'Item_Boost_EnergyDrink_C']

# 결과를 저장할 데이터프레임 초기화
heal_boost_use_data = pd.DataFrame()

# 18개의 매치에 대해 데이터 수집
for i in range(18):
    # telemetry JSON 데이터 가져오기
    telemetry_url = df_mat['telemetry_url'][i]
    rs_tele_event = requests.get(telemetry_url, headers=header)
    telemetry_json = rs_tele_event.json()

    # JSON 데이터를 데이터프레임으로 변환 후, LogMatchStart와 LogMatchEnd 사이의 데이터 추출
    df_log = pd.DataFrame(telemetry_json)
    df_log = df_log.loc[df_log[df_log['_T'] == 'LogMatchStart'].index[0]:df_log[df_log['_T'] == 'LogMatchEnd'].index[0]]

    # LogItemPickup 이벤트 추출 후, 팀의 아이템 사용자만 필터링
    item_log = df_log[df_log['_T'] == 'LogItemUse']
    df_item_log = item_log[item_log['character'].astype(str).str.contains('')].reset_index(drop=True)

    # character_name 컬럼을 만들어주기 위해 NaN으로 초기화
    df_item_log['character_name'] = np.NaN 

    # character_name 컬럼에 데이터 추가
    for j in range(len(df_item_log)):
        df_item_log.loc[j, 'character_name'] = df_item_log[df_item_log['character'].astype(str).str.contains('')]['character'][j]['name']

    # 해당 팀 각 선수들이 사용한 각 아이템 개수 구하기
    team_item_data = h_result
    for item in heal_boost_use_items:
        item_count = df_item_log[df_item_log['item'].astype(str).str.contains(item)].groupby('character_name').count()['item']
        item_count = pd.DataFrame(item_count).reset_index()
        item_count.rename(columns={"item": item}, inplace=True)
        team_item_data = pd.merge(team_item_data, item_count, on='character_name', how='outer')
        team_item_data['match_id'] = i + 1
    heal_boost_use_data = pd.concat([heal_boost_use_data, team_item_data], ignore_index=True)

# 결과 데이터프레임 출력
heal_boost_use_data

,character_name,Item_Heal_MedKit,match_id,Item_Heal_FirstAid_C,Item_Heal_Bandage_C,Item_Boost_AdrenalineSyringe_C,Item_Boost_PainKiller_C,Item_Boost_EnergyDrink_C
0,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN
1,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN
2,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN
3,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN
4,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
20731,Tian_PaoPao,NaN,18,NaN,5.0,NaN,2.0,NaN
20732,Tian_PaoPao,NaN,18,NaN,5.0,NaN,2.0,NaN
20733,Tian_PaoPao,NaN,18,NaN,5.0,NaN,2.0,NaN
20734,Tian_PaoPao,NaN,18,NaN,5.0,NaN,2.0,NaN
20735,Tian_PaoPao,NaN,18,NaN,5.0,NaN,2.0,NaN

In [48]:
heal_boost_use_data.to_csv('heal.csv', index=False)

In [5]:
a = pd.read_csv('https://raw.githubusercontent.com/AIS8-WWCD/streamlit_dashboard/main/heal_boost_data.csv')
b = pd.read_csv('https://raw.githubusercontent.com/AIS8-WWCD/streamlit_dashboard/main/heal.csv')
c = pd.read_csv('https://raw.githubusercontent.com/AIS8-WWCD/streamlit_dashboard/main/Throwable_data.csv')

In [6]:
a.head()

,character_name,Item_Heal_MedKit,match_id,Item_Heal_FirstAid_C,Item_Heal_Bandage_C,Item_Boost_AdrenalineSyringe_C,Item_Boost_PainKiller_C,Item_Boost_EnergyDrink_C,Item_Weapon_Molotov_C,Item_Weapon_SmokeBomb_C,Item_Weapon_FlashBang_C,Item_Weapon_Grenade_C
0,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17_SuJiu,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17_Xbei,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17_xwudd,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4AM_CRAZY112,1.0,1,7.0,1.0,1.0,3.0,2.0,1.0,6.0,3.0,3.0

In [7]:
b.head()

,character_name,Item_Heal_MedKit,match_id,Item_Heal_FirstAid_C,Item_Heal_Bandage_C,Item_Boost_AdrenalineSyringe_C,Item_Boost_PainKiller_C,Item_Boost_EnergyDrink_C
0,17_Lilghost,NaN,1,NaN,NaN,NaN,NaN,NaN
1,17_SuJiu,NaN,1,NaN,NaN,NaN,NaN,NaN
2,17_Xbei,NaN,1,NaN,NaN,NaN,NaN,NaN
3,17_xwudd,NaN,1,NaN,NaN,NaN,NaN,NaN
4,4AM_CRAZY112,1.0,1,NaN,2.0,1.0,2.0,1.0

In [8]:
c.head()

,attacker_name,Item_Weapon_Molotov_C,match_id,Item_Weapon_SmokeBomb_C,Item_Weapon_Grenade_C,Item_Weapon_FlashBang_C
0,17_Lilghost,NaN,1,NaN,NaN,NaN
1,17_SuJiu,NaN,1,NaN,NaN,NaN
2,17_Xbei,NaN,1,NaN,NaN,NaN
3,17_xwudd,NaN,1,NaN,NaN,NaN
4,4AM_CRAZY112,1.0,1,5.0,3.0,3.0

In [9]:
a=a.drop("match_id", axis = 1)
b=b.drop("match_id", axis = 1)
c=c.drop("match_id", axis = 1)

In [10]:
a = a.rename(columns = {"Item_Heal_MedKit" : "의료용 키트","Item_Heal_FirstAid_C":"구급 상자","Item_Heal_Bandage_C":"붕대","Item_Boost_AdrenalineSyringe_C":"아드레날린 주사기","Item_Boost_PainKiller_C":"진통제","Item_Boost_EnergyDrink_C":"에너지 드링크","Item_Weapon_Molotov_C":"화염병","Item_Weapon_SmokeBomb_C":"연막탄","Item_Weapon_FlashBang_C":"섬광탄","Item_Weapon_Grenade_C":"수류탄"})
b = b.rename(columns = {"Item_Heal_MedKit" : "의료용 키트","Item_Heal_FirstAid_C":"구급 상자","Item_Heal_Bandage_C":"붕대","Item_Boost_AdrenalineSyringe_C":"아드레날린 주사기","Item_Boost_PainKiller_C":"진통제","Item_Boost_EnergyDrink_C":"에너지 드링크"})
c = c.rename(columns = {"Item_Weapon_Molotov_C":"화염병","Item_Weapon_SmokeBomb_C":"연막탄","Item_Weapon_FlashBang_C":"섬광탄","Item_Weapon_Grenade_C":"수류탄"})

In [11]:
aa = a
bb = b
cc = c
a=a.sum()
b=b.sum()
c=c.sum()

In [12]:
a=pd.DataFrame(a)
a=a.reset_index()
b=pd.DataFrame(b)
b=b.reset_index()
c=pd.DataFrame(c)
c=c.reset_index()

In [13]:
a = a.rename(columns = {0 : "get_item"})
b = b.rename(columns = {0 : "use_heal"})
c = c.rename(columns = {0 : "use_throw"})

In [14]:
ab = a.iloc[1:7]
ac = a.iloc[7:]
b = b.iloc[1:]
c = c.iloc[1:]

In [15]:
ab = pd.merge(ab, b, on='index', how='outer')
ac = pd.merge(ac, c, on='index', how='outer')

In [16]:
ab = ab.rename(columns = {"index" : "heal"})
ac = ac.rename(columns = {"index" : "throw"})

In [17]:
ab["use_rate"] = ab["use_heal"]/ab["get_item"] * 100
ac["use_rate"] = ac["use_throw"]/ac["get_item"] * 100

In [18]:
ab['use_rate'] = ab['use_rate'].astype(float)
ac['use_rate'] = ac['use_rate'].astype(float)

In [19]:
ab['use_rate'] = ab['use_rate'].round(1)
ac['use_rate'] = ac['use_rate'].round(1)

In [20]:
ab = ab.rename(columns = {'heal':"회복아이템", 'get_item':"얻은 아이템", 'use_heal':"사용한 회복템", 'use_rate':"아이템 사용률"})
ac = ac.rename(columns = {'throw':"투척 무기", 'get_item':"얻은 아이템", 'use_throw':"사용한 투척 무기", 'use_rate':"아이템 사용률"})

In [21]:
aa[[ 'team','column_name_1']] = aa['character_name'].str.split('_', expand=True)
aa = aa.drop(["column_name_1"],axis = 1)
aa = aa.groupby("team").sum()
aa = aa.T
aa = aa.reset_index()
bb[[ 'team','column_name_1']] = bb['character_name'].str.split('_', expand=True)
bb = bb.drop(["column_name_1"],axis = 1)
bb = bb.groupby("team").sum()
bb = bb.T
bb = bb.reset_index()
cc[[ 'team','column_name_1']] = cc['attacker_name'].str.split('_', expand=True)
cc = cc.drop(["column_name_1"],axis = 1)
cc = cc.groupby("team").sum()
cc = cc.T
cc = cc.reset_index()

C:\Users\rlarj\AppData\Local\Temp\ipykernel_13632\1103843585.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  aa = aa.groupby("team").sum()
C:\Users\rlarj\AppData\Local\Temp\ipykernel_13632\1103843585.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bb = bb.groupby("team").sum()
C:\Users\rlarj\AppData\Local\Temp\ipykernel_13632\1103843585.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cc = cc.groupby("team").sum()

In [22]:
aab = aa.iloc[:6]
aac = aa.iloc[6:]

In [23]:
aab = aab.rename(columns = {"index" : "회복템"})
aac = aac.rename(columns = {"index" : "투척 무기"})
bb = bb.rename(columns = {"index" : "사용한 회복템"})
cc = cc.rename(columns = {"index" : "사용한 투척 무기"})
aac = aac.reset_index(drop=True)

In [24]:
e = pd.concat([aab.iloc[:,:1],bb.iloc[:,1:]/aab.iloc[:,1:] * 100], axis=1).iloc[:,:-2]
f = pd.concat([aac.iloc[:,:1],cc.iloc[:,1:]/aac.iloc[:,1:] * 100], axis=1).iloc[:,:-2]
e = e.rename(columns = {"회복템" : "회복템 사용률"})
f = f.rename(columns = {"투척 무기" : "투척 무기 사용률"})

In [49]:
A = aab.to_csv("A.csv", index=False)
B = aac.to_csv("B.csv", index=False)
C = bb.to_csv("C.csv", index=False)
D = cc.to_csv("D.csv", index=False)
E = e.to_csv("E.csv", index=False)
F = f.to_csv("F.csv", index=False)
ab = ab.to_csv("ab.csv", index=False)
ac = ac.to_csv("ac.csv", index=False)